# Required - LeadCMS API root URL (preferred key)
VITE_API_URL=

# Backward compatibility key (legacy). If VITE_API_URL is empty, CORE_API will be used.
CORE_API=

#Required - Code version
VERSION=1.0.0
